*{
    margin: 0;
    padding: 0;
}
/*---------------nav---------------------------------*/
.nav_principal{
    border-left: 1rem solid rgb(168, 57, 144);
    background-color: white;
    padding: 2rem;
    
}
.nav_principal ul li{
    list-style-type: none;
    display: inline-block;
}
.nav_principal a {
    text-decoration: none;
    color: black;
    padding: 1rem;

}
/*---------------body---------------------------------*/
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(168, 57, 144);

} 
.contenido{
    padding: 3rem;
} 
h6{
    background-color: white;
}


/*---------------footer---------------------------------*/
.footer{
    background-color: black;
    color: white;
    padding: 1REM;
    text-align: center;
}
/*---------------servicios---------------------------------*/
.servicios_contenido{
    padding-left: 2rem;
    padding-top: 3rem;
}
.servicios_botonera{
    background-color: white;
    text-decoration: none;
    padding: 2rem;
    
    
}
.servicios_descripcion{
    padding: 2rem;
}
.desc{
    padding: 2rem;
    background-color: white;
}
.contenedor_img{
    width: 200px; 
    height: 200px; 
    ;
}
.img{
    width: 200px; 
    height: 200px;
    border: 1px solid #ccc
}
/*---------------contacto---------------------------------*/
.contacto_contenido{
    margin: 1rem;
    padding: 2rem;
    width: 80%;
    text-align: center;
}
.contacto_input{
    width: 100%;
    display: block;
    margin: 0.5 rem;
    padding: 1rem;
    box-sizing: border-box;
}
.contacto_btn{
    width: 30%;
    padding: 0.5rem;
    margin: 1 rem;
    
}
